# Python
__pycache__/
*.py[cod]
*$py.class
*.so
/*.py
/manifest.json

# Virtual environments
venv/
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# HA spezifisch
ha-config/
custom_components/*
!/custom_components/geosphere_at/
*.sh
testing_guide.md
*.yml

# Docker
*.pid
*.tag

# Secrets
*.secret
*.key
token.txt