# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environments
venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# HA spezifisch
ha-config/
custom_components/*
!custom_components/geosphere_at/

# Docker
*.pid
*.tag

# Secrets
*.secret
*.key
token.txt