# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Root Directory
/*.py
/manifest.json
/translations/*
/brand/*

# Virtual environments
venv/
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# HA spezifisch
ha-config/
custom_components/*
!/custom_components/geosphere_at/
*.sh
testing_guide.md
*.yml

# Docker
*.pid
*.tag

# Secrets
*.secret
*.key
token.txt

# GitHub Actions
!/.github/workflows/*.yml